<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Mobile Automation Test Suite" verbose="2" thread-count="1">

    <parameter name="appPackage" value="io.appium.android.apis"/>
    <parameter name="appActivity" value="io.appium.android.apis.ApiDemos"/>
    <parameter name="appPath" value=""/>
    <parameter name="hubUrl" value="http://127.0.0.1:4723/wd/hub"/>

    <test name="Home Screen Tests">
        <classes>
            <class name="tests.Test001_HomeScreenVisibility"/>
            <class name="tests.Test009_NavigateToAnimation"/>
        </classes>
    </test>

    <test name="Navigation Tests">
        <classes>
            <class name="tests.Test002_NavigateToViews"/>
            <class name="tests.Test003_NavigateToControls"/>
            <class name="tests.Test010_BackNavigation"/>
        </classes>
    </test>

    <test name="Views Page Tests">
        <classes>
            <class name="tests.Test008_ViewsMenuItems"/>
        </classes>
    </test>

    <test name="Controls Page Tests">
        <classes>
            <class name="tests.Test004_CheckboxToggle"/>
            <class name="tests.Test005_MultipleCheckboxes"/>
            <class name="tests.Test006_ToggleButtonClick"/>
            <class name="tests.Test007_RadioButtonSelection"/>
        </classes>
    </test>

</suite>
